name: Build Archiso and Upload as Attachment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          # 更新系统并安装构建 ISO 所需的所有后端工具
          pacman -Syu --noconfirm
          pacman -S --noconfirm archiso sudo git grub libisoburn mtools dosfstools squashfs-tools

      - name: Build ISO and Rename
        run: |
          rm -rf work out
          
          # 执行构建
          sudo mkarchiso -v ./
          
          # 获取结束时间戳
          TIMESTAMP=$(date +"%Y%m%d_%H%M")
          
          # 处理生成的 ISO
          if [ -d "out" ]; then
            cd out
            for f in *.iso; do
              NEW_NAME="${TIMESTAMP}-$f"
              mv "$f" "$NEW_NAME"
              echo "ISO_FILENAME=$NEW_NAME" >> $GITHUB_ENV
            done
            cd ..
          fi

      - name: Upload ISO as Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ISO_FILENAME }}
          path: out/*.iso
          retention-days: 7

      - name: Post-Build Cleanup
        if: always()
        run: |
          sudo rm -rf work out
